@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #0d11f0 0%, #545bc4 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* LAYOUT */
main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
}

.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}

/* ELEMENTS */
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #5f44d6;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.884);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #873beb;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #ddd;
}

.current-score {
  font-size: 3.5rem;
}

.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
  width: 220px;
  padding: 10px 15px;
}

.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 4rem;
}
.btn--newwins {
  top: 50rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: rgb(38, 14, 255);
  background: none;
  border: none;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.384);
}

.player--winner {
  background-color: #2b2b2b;
}

.player--winner .name {
  font-weight: 700;
  color: #9c8aec;
}
.hidden {
  display: none;
}
.rule,
.ruleBook {
  top: 1.5rem;
  position: absolute;
  font-size: 2rem;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
}
.ruleBook {
  top: 5rem;
  right: 25%;
  padding: 0.6rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 30px;
  cursor: pointer;
  color: rgb(255, 255, 255);
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 0.4);
}
.wins {
  top: 25rem;
  position: fixed;
  font-size: 3rem;
  width: 60rem;
  height: 35rem;
  color: #3e2a99;
  background-color: rgb(168, 203, 255);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}

@media screen and (max-width: 720px) {
  main {
    height: 55rem;
  }

  .player {
    padding: 3rem 3rem 9rem 3rem;
  }

  .name {
    font-size: 3rem;
    top: 8rem;
  }

  .score {
    position: relative;
    font-size: 5rem;
    top: 10rem;
  }

  .player--active .name {
    font-weight: 500;
  }
  .player--active .score {
    font-weight: 300;
  }

  .current {
    margin: 0 0 50px 0;
    padding: 1.5rem 1.2rem;
  }
  .btn {
    font-size: 1.8rem;
    border-radius: 50rem;
    width: 220px;
    padding: 10px 20px;
  }
  .btn--new {
    top: 4rem;
  }
  .btn--newwins {
    top: 45rem;
  }
  .btn--roll {
    top: 49rem;
  }
  .btn--hold {
    top: 43rem;
  }

  .dice {
    top: 18rem;
    height: 8rem;
  }
  .rule,
  .ruleBook {
    top: 1rem;
    font-size: 1.8rem;
  }
  .ruleBook {
    top: 5rem;
    right: 20%;
    font-size: 1rem;
  }
  .wins {
    top: 15rem;
    font-size: 2.7rem;
    padding: 6rem;
    width: 42rem;
    height: 42rem;
  }
}

@media screen and (max-width: 450px) {
  main {
    height: 55rem;
  }

  .player {
    flex: 30%;
    padding: 3rem 1rem 9rem 1rem;
  }

  .name {
    font-size: 2.4rem;
  }

  .score {
    font-size: 4rem;
    top: 10rem;
    font-weight: 200;
  }

  .current {
    padding: 1rem 2rem;
  }

  .current-label {
    font-size: 1.4rem;
  }

  .btn {
    font-size: 1.8rem;
    border-radius: 50rem;
    width: 200px;
    padding: 12px 20px;
  }

  .btn::first-letter {
    font-size: 1.8rem;
    display: inline-block;
    margin-right: 0.7rem;
  }

  .btn--new {
    top: 4rem;
  }
  .btn--roll {
    top: 50rem;
  }
  .btn--hold {
    top: 43.5rem;
  }

  .btn:active {
    transform: translate(-50%, 3px);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  }

  .btn:focus {
    outline: none;
  }

  .rule,
  .ruleBook {
    top: 1.2rem;
    font-size: 1.6rem;
  }
  .ruleBook {
    top: 5rem;
    right: 10%;
    font-size: 1rem;
  }

  .wins {
    top: 15rem;
    font-size: 2.7rem;
    padding: 7rem;
    width: 42rem;
    height: 40rem;
  }
}
